<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Jcloud.SqlParser.Dao.HiveTestModelMapper">
  <resultMap id="BaseResultMap" type="com.Jcloud.SqlParser.Model.SqlModel.HiveTestModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dev_sql" jdbcType="VARCHAR" property="devSql" />
    <result column="dev_sql_auto" jdbcType="VARCHAR" property="devSqlAuto" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, dev_sql, dev_sql_auto
  </sql>
  <select id="selectByExample" parameterType="com.Jcloud.SqlParser.Model.SqlModel.HiveTestModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sql_parser_hive
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sql_parser_hive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sql_parser_hive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.Jcloud.SqlParser.Model.SqlModel.HiveTestModelExample">
    delete from sql_parser_hive
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.Jcloud.SqlParser.Model.SqlModel.HiveTestModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sql_parser_hive (dev_sql, dev_sql_auto)
    values (#{devSql,jdbcType=VARCHAR}, #{devSqlAuto,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.Jcloud.SqlParser.Model.SqlModel.HiveTestModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sql_parser_hive
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="devSql != null">
        dev_sql,
      </if>
      <if test="devSqlAuto != null">
        dev_sql_auto,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="devSql != null">
        #{devSql,jdbcType=VARCHAR},
      </if>
      <if test="devSqlAuto != null">
        #{devSqlAuto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.Jcloud.SqlParser.Model.SqlModel.HiveTestModelExample" resultType="java.lang.Long">
    select count(*) from sql_parser_hive
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sql_parser_hive
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.devSql != null">
        dev_sql = #{record.devSql,jdbcType=VARCHAR},
      </if>
      <if test="record.devSqlAuto != null">
        dev_sql_auto = #{record.devSqlAuto,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sql_parser_hive
    set id = #{record.id,jdbcType=INTEGER},
      dev_sql = #{record.devSql,jdbcType=VARCHAR},
      dev_sql_auto = #{record.devSqlAuto,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.Jcloud.SqlParser.Model.SqlModel.HiveTestModel">
    update sql_parser_hive
    <set>
      <if test="devSql != null">
        dev_sql = #{devSql,jdbcType=VARCHAR},
      </if>
      <if test="devSqlAuto != null">
        dev_sql_auto = #{devSqlAuto,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Jcloud.SqlParser.Model.SqlModel.HiveTestModel">
    update sql_parser_hive
    set dev_sql = #{devSql,jdbcType=VARCHAR},
      dev_sql_auto = #{devSqlAuto,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>